<%- include('../partials/header') %>

<div class="container center">
  <div class="container row text-center">
    <% coin.forEach((c) => {%>
        <div class="card mt-3 me-3 coincard">
            <img src="<%= c.image %>" alt="Image of coin" class="card-img-top mt-3">
            <div class="card-body">
              <h5 class="card-title"><%= c.symbol %></h5>
              <a href="/cryptos/info/<%= c.id %>" class="btn">Learn More</a>
              <p><%=  %></p>
              <p><%=  %></p> 

            </div>
        </div>
    <% }) %>
    
  </div>
</div>

<%- include('../partials/footer') %>