<%- include('../partials/header') %>

<div class="container center">
  <div class="container row text-center">
        <div class="card mt-3 me-3 ">
            <img src="<%= coin.image.thumb %>" alt="Image of coin" class="card-img-top mt-3 thumb" >
            <div class="card-body">
              <h5 class="card-title"><%= coin.name %></h5>
              <a href="/cryptos/info/<%= coin.id %>" class="btn"></a>
              <p><%= coin.currency %></p> 
              <p><%= coin.description.en %></p>
              <form action="/users/add" method="POST">
                <fieldset>
                  <input hidden type="text" name="coinId" value="<%= coin.id %>">
                  <input hidden type="number" name="currentPrice" value="<%= coin.market_data.current_price.usd %>">
              </fieldset>
                <div class="d-grid gap-2 col-3 mx-auto">
                    <button type="submit" class="btn btn-outline-dark favButton" value="watchlist">Favorite</button>
                </div>
            </form>
            </div>
        </div>
  </div>
</div>

<%- include('../partials/footer') %>