<%- include('../partials/header') %>

<div class="container center">
  <div class="container row text-center">
    <% watchlist.forEach((w) => {%>
        <div class="card mt-3 me-3 coincard">
            <img src="<%= w.image%>" alt="Image of coin" class="card-img-top mt-3">
            <div class="card-body">
              <h5 class="card-title"><%= w.symbol %></h5>
              <a href="/cryptos/info/<%= w.id %>"</a>
              <p><%=  %></p>
              <p><%=  %></p> 

            </div>
        </div>
    <% }) %>
    
  </div>
</div>
<%- include('../partials/footer') %>