<%- include('../partials/header') %>

<div class="container center">
  <div class="container row text-center">
    <% if (watchlist.length == 0) {%>
    <h5>Add Your Favorites Here</h5>
    <% } %>
    <% watchlist.forEach((w) => {%>
        <div class="card mt-3 mb-3 me-3 watchlist-card">
            <div class="card-body">
              <h5 class="card-title"><%= w.coinId %></h5>
              <p> $ <%= w.currentPrice%> </p>
              <p> Nickname: <%= w.nickname%> </p>
            <form class="me-3" action="/users/update/<%= w._id %>?_method=PUT" method="POST">
            <fieldset>
              <input type="text" name="nickname" >
              <input type="submit" class="btn btn-warning" value="Update nickname">
            </fieldset>
            </form>
            </div>
            <form class="me-3" action="/users/delete/<%= w._id %>?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete this Coin">
            </form>
          </div>
    <% }) %>
    
  </div>
</div>
<%- include('../partials/footer') %>